<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" style="display: inline-block;">Quản Lý Tài Khoản</h5>
                <a href="/account/add"><button type="button" class="btn btn-info m-b-xs"  style="float: right ;">Thêm Tài Khoản</button></a>
                
                <table id="zero-conf" class="display" style="width:100%;">
                    <thead>
                        <tr>
                            <th>Email</th>
                            <th>Status</th>
                            <th>Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% datas.forEach(data => { %>
                            <% if (data.email != 'superadmin@gmail.com') { %>
                                <tr>
                                    <td><%= data.email %> </td>
                                    <td>
                                        <% if (data.active) { %>
                                            <a href="/account/false/<%= data._id %>"><span class="badge bg-success">Active</span></a>
                                        <% } else { %>
                                            <a href="/account/true/<%= data._id %>"><span class="badge bg-danger">Unactive</span></a>
                                        <% } %>
                                    </td>
                                    <td><%= data.createdAt.toDateString() %></td>
                                    <td>
                                        <a href="/account/action/delete/<%= data._id %>"><i data-feather="delete"></i></a>
                                        <a href="/account/action/edit/<%= data._id %>"><i data-feather="edit"></i></a>
                                    </td>
                                </tr>
                            <% } %>
                        <% }) %>
                    
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>superadmin@gmail.com</th>
                            <th>ROOT</th>
                            <th>ROOT</th>
                            <th>ROOT</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>