<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" style="display: inline-block;">Quản Lý Tài Liệu</h5>
                <a href="/save/add"><button type="button" class="btn btn-info m-b-xs"  style="float: right ;">Thêm Tài Liệu</button></a>
                
                <table id="zero-conf" class="display" style="width:100%;">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Name</th>
                            <th>Download</th>
                            <th>Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% datas.forEach((data,key) => { %>
                            <tr>
                                <td><%= key + 1 %> </td>
                                <td><%= data.name %> </td>
                                <td><a href="<%= data.url %>" download="">Download</a></td>
                                <td>
                                        <%= data.createdAt.toDateString() %>
                                    </td>
                                <td>
                                    <a href="/save/action/delete/<%= data._id %>"><i data-feather="delete"></i></a>
                                    <a href="/save/action/edit/<%= data._id %>"><i data-feather="edit"></i></a>
                                </td>
                            </tr>
                        <% }) %>
                    
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>No</th>
                            <th>Link</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>