<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" style="display: inline-block;">Quản Lý Lịch Làm Việc</h5>
                <table id="complex-header" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th rowspan="2">No</th>
                            <th rowspan="2">Name</th>
                            <th rowspan="2">Birthday</th>
                            <th rowspan="2">Position</th>
                            <th colspan="3" style="text-align: center;">calendar</th>
                        </tr>
                        <tr>
                            <th style="text-align: center;">8h-12H</th>
                            <th style="text-align: center;">14h-18H</th>
                            <th style="text-align: center;">18h-23H</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% datas.forEach((data,key) => { %>
                            <tr>
                                <td><%= key + 1 %> </td>
                                <td><%= data.name %> </td>
                                <td><%= data.born %> </td>
                                <td><%= data.position %> </td>
                                <td style="text-align: center;">
                                    <% if (data.timec1) { %>
                                        <a href="/time/timec1/false/<%= data._id %>"><i data-feather="check"></i></a>
                                    <% } else { %>
                                        <a href="/time/timec1/true/<%= data._id %>"><i data-feather="info" style="color: #dc3545"></i></a>
                                    <% } %>
                                </td>
                                <td style="text-align: center;">
                                    <% if (data.timec2) { %>
                                        <a href="/time/timec2/false/<%= data._id %>"><i data-feather="check"></i></a>
                                    <% } else { %>
                                        <a href="/time/timec2/true/<%= data._id %>"><i data-feather="info" style="color: #dc3545"></i></a>
                                    <% } %>
                                </td>
                                <td style="text-align: center;">
                                    <% if (data.timec3) { %>
                                        <a href="/time/timec3/false/<%= data._id %>"><i data-feather="check"></i></a>
                                    <% } else { %>
                                        <a href="/time/timec3/true/<%= data._id %>"><i data-feather="info" style="color: #dc3545"></i></a>
                                    <% } %>
                                </td>
                            </tr>
                        <% }) %>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>No</th>
                            <th>Name</th>
                            <th>Birthday</th>
                            <th>Position</th>
                            <th>Position</th>
                            <th>Salary</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>