
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" style="display: inline-block;">Thêm/Sửa Nhân Viên</h5>
                <a href="/user"><button type="button" class="btn btn-info m-b-xs"  style="float: right ;">Quay Lại</button></a>
                
                <form method="post" action=" <%= locals.data ? '/user/edit/'+data._id  : '/user/add' %> ">
                    <!-- <div class="container"> -->
                        <div class="row">
                            <div class="col-4">
                                <div class="mb-3">
                                    <label class="form-label">Name</label>
                                    <input type="text" class="form-control"  name="name" value='<%= locals.data ? data.name : null %>'>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="mb-3">
                                    <label class="form-label">Birthday</label>
                                    <input type="date" class="form-control"  name="born" value='<%= locals.data ? data.born : null %>'>
                                </div>
                            </div>
                            <div class="col-1">
                                <div class="mb-3">
                                    <label class="form-label">Sex</label>
                                    <select class="form-select" id="autoSizingSelect" name="sex">
                                        <option value="Nam">Nam</option>
                                        <option value="Nữ">Nữ</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="mb-3">
                                    <label class="form-label">Address</label>
                                    <input type="text" class="form-control"  name="address" value='<%= locals.data ? data.address : null %>'>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="mb-3">
                                    <label class="form-label">Phone</label>
                                    <input type="text" class="form-control"  name="phone" value='<%= locals.data ? data.phone : null %>'>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="mb-3">
                                    <label class="form-label">Email</label>
                                    <input type="text" class="form-control"  name="email" value='<%= locals.data ? data.email : null %>'>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="mb-3">
                                    <label class="form-label">Position</label>
                                    <input type="text" class="form-control"  name="position" value='<%= locals.data ? data.position : null %>'>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="mb-3">
                                    <label class="form-label">Seniority</label>
                                    <select class="form-select" id="autoSizingSelect" name="seniority">
                                        <option value="Dưới 1 năm">Dưới 1 năm</option>
                                        <option value="Từ 1 đến 3 năm">Từ 1 đến 3 năm</option>
                                        <option value="Từ 3 đến 6 năm">Từ 3 đến 6 năm</option>
                                        <option value="Từ 6 đến 9 năm">Từ 6 đến 9 năm</option>
                                        <option value="Trên 9 năm">Trên 9 năm</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    <!-- </div> -->
                    
                    

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>

            </div>
        </div>
    </div>
</div>

