<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" style="display: inline-block;">Quản Lý Nhân Viên</h5>
                <a href="/user/add"><button type="button" class="btn btn-info m-b-xs"  style="float: right ;">Thêm Nhân Viên</button></a>
                
                <table id="zero-conf" class="display" style="width:100%;">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Name</th>
                            <th>Birthday</th>
                            <th>Position</th>
                            <th>Sex</th>
                            <th>Adress</th>
                            <th>Phone</th>
                            <th>Email</th>
                            <th>Seniority</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% datas.forEach((data,key) => { %>
                            <tr>
                                <td><%= key + 1 %> </td>
                                <td><%= data.name %> </td>
                                <td><%= data.born %> </td>
                                <td><%= data.position %> </td>
                                <td><%= data.sex %> </td>
                                <td><%= data.address %> </td>
                                <td><%= data.phone %> </td>
                                <td><%= data.email %> </td>
                                <td><%= data.seniority %> </td>
                                <td>
                                    <a href="/user/action/delete/<%= data._id %>"><i data-feather="delete"></i></a>
                                    <a href="/user/action/edit/<%= data._id %>"><i data-feather="edit"></i></a>
                                </td>
                            </tr>
                        <% }) %>
                    
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>No</th>
                            <th>Name</th>
                            <th>Born</th>
                            <th>Adress</th>
                            <th>Phone</th>
                            <th>Email</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>